{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>coffee Shop</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="shortcut icon" href="{% static '..\media\logoicon.png' %}" type="image/png">
    <!-- bootstrap links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- bootstrap links -->
    <!-- fonts links -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <!-- fonts links -->
    <link  href="{% static 'footer/footer.css' %}" rel="stylesheet">
    <link  href="{% static 'navbar/navbar.css' %}" rel="stylesheet">
    <link  href="{% static 'home/slider.css' %}" rel="stylesheet">
    <link  href="{% static 'about/about.css' %}" rel="stylesheet">
    <link  href="{% static 'contact/contact.css' %}" rel="stylesheet">
    <link  href="{% static 'arrow/arrow.css' %}" rel="stylesheet">
    <link  href="{% static 'gallery/gallery.css' %}" rel="stylesheet">
    <link  href="{% static 'base/base.css' %}" rel="stylesheet">
    <link  href="{% static 'product/product.css' %}" rel="stylesheet">
</head>
<body>
    <div class="all-content">
        <!-- Include nav.html -->
        {% include 'inc/navbar.html' %}
        <!-- Content of child pages will go here -->
        {% include 'inc/slider.html' %}
        {% include 'inc/about.html' %}
        {% include 'inc/topsell.html' %}
        {% block content %}{% endblock %}
        {% include 'inc/gallery.html' %}
        {% include 'inc/contact.html' %}
        <!-- Include footer.html -->
        {% include 'inc/footer.html' %}
        {% include 'inc/arrow.html' %}
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


</html>