{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link  href="{% static 'navbar/navbar.css' %}" rel="stylesheet">
<link rel="stylesheet" href="../static/style.css">
<link rel="shortcut icon" href="{% static '..\media\logoicon.png' %}" type="image/png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<!-- bootstrap links -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!-- bootstrap links -->
<!-- fonts links -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
<link  href="{% static 'base/base.css' %}" rel="stylesheet">
<link  href="{% static 'product/product.css' %}" rel="stylesheet">
<link  href="{% static 'footer/footer.css' %}" rel="stylesheet">

{% include 'inc\navbar.html' %}
    <h2>search results:</h2>
    {% if products %}
        <ul>
            <section class="product" id="product">
                <div class="container" id="container2">
                    <div class="row" style="margin-top: 30px;">
                        {% for product in products %}
                            
                                <div class="col-md-3 py-3 py-md-0">
                                    <div class="card" style="height: 400px;">
                                        <img src="{{ product.image_src }}" alt="">
                                        <div class="card-body">
                                            <h3 style="margin-top: 3px">{{ product.name }}</h3>
                                            {% if product.discount %}
                                                <p style="margin-top: 15px;">{{ product.discount_to_price }}$&nbsp &nbsp {{ product.discount }}% <br>
                                                    <strike >{{ product.price }}$</strike>
                                                    <span><a  class="fa-solid fa-cart-shopping"></a></span>
                                                </p>
                                            {% else %}
                                                {% if product.is_available %}
                                                
                                                    <p>{{ product.price }}$ <span><a class="fa-solid fa-cart-shopping"></a></span></p>
                                                {% else %}
                                                    <p>{{ product.price }}$ <span><i>unavailable</i></span></p>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% if forloop.counter|divisibleby:4 and not forloop.last %}
                                    </div><div class="row" style="margin-top: 30px;">
                                {% endif %}
                            
                        {% endfor %}
                    </div>
                </div>  
            </section>
            
                </div>
            </div>  
        </ul>
    {% else %}
        <p>No products found.</p>
    {% endif %}

{% include 'inc/footer.html' %}