


#orders-delivered{
    background-color: #F5CBA7  ;
}

#orders-pending{
    background-color: #E59866;
}

#orders-cooking{
    background-color: #F5CBA7;
}

#orders-sending{
    background-color: #E59866 ;
}
#total-order{
    background-color: #E59866;

}