


#orders-delivered{
    background-color: #E9967A  ;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#orders-pending{
    background-color: #E59866;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#orders-cooking{
    background-color: #E9967A;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#orders-sending{
    background-color: #E59866 ;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
#total-order{
    background-color: #E59866;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

}


.zoom-link {
    transition: transform 0.3s;
  }
  
.zoom-link:hover {
transform: scale(0.8);
}

.fade-link {
transition: opacity 0.3s;
}

.fade-link:hover {
opacity: 0.5;
}
