


#orders-delivered{
    background-color: #a3544a;
}

#orders-pending{
    background-color: #c76c5e;
}

#orders-cooking{
    background-color: #a85c52;
}

#orders-sending{
    background-color: #ab5348;
}
#total-order{
    background-color: #b7655b;

}