{% load static %}
<!-- about section -->
<div class="about" id="about">
    <div class="container">
        <div class="heading">About <span>Us</span></div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    {% if about_us %}
                    <img src="{{ about_us.image_url }}" alt=""  height=600>
                    {% else %}
                    <img src="{% static 'images/about.png'%}" alt="">
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6">
                {% if about_us %}
                    <h3> {{about_us.title}} </h3>
                    <p>{{ about_us.content }}</p>
                {% else %}
                <h3>Information about group 2</h3>
                <p>Ahmadreza is the scrum master of the group. He is very smart and has very good knowledge about different fields.
                    <br><br>Abbas and Mohammad work the backend of the site. Both of them are very hardworking and responsible.
                    <br><br>Sakineh work in the front section. She did the initial design of the homepage.
                </p>
                <!-- <button id="about-btn">Learn More.</button> -->
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- about section -->