{% load static %}
<!-- contact -->
<section class="contact" id="contact">



  <div class="container">
    <div class="row">
      <div class="col-md-7">
       <div class="heading6">Contact <span>Us</span></div>

       <p>Here, you can get in touch with us.
        <br>We are waiting for your comments.
       </p>

       <input class="form-control" type="text" placeholder="Name" aria-label="default input example"><br>
       <input class="form-control" type="email" placeholder="Email" aria-label="default input example"><br>
       <input class="form-control" type="number" placeholder="Number" aria-label="default input example"><br>
       <button id="contact-btn">Send Message</button>
      </div>
      <div class="col-md-5" id="col">
        <h1>Info</h1>
        <p><i class="fa-regular fa-envelope"></i> group2@gmail.com</p>
        <p><i class="fa-solid fa-phone"></i> +989912345677</p>
       <p><i class="fa-solid fa-building-columns"></i> Iran, Tehran</p>
       <p>In this site, you can order the best coffee.</p>
      </div>
    </div>

  </div>

</section>
<!-- contact -->