{% load static %}

{% block content %}


<div class="row">
    <div class="col-md-12 text-center">
<!--        <h5>LAST 5 ORDERS</h5>-->
<!--        <a class="btn btn-secondary btn-lg btn-block" href="{% url 'order_create' %}" >Create Order</a>-->

        <table class="table table-sm">

            <tr>
                <th>Order</th>
                <th>Date Orderd</th>
                <th>Status</th>
                <th>Final register</th>
                <th>Delete</th>
            </tr>
            {% for order in orders %}
            <tr>
                <td>{{order.id}}</td>
                <td>{{order.timestamp}}</td>
                <td>{{order.get_status_display}}</td>
                <td><a class="btn btn-sm btn-warning">Final register</a></td>
                <td><a class="btn btn-sm btn-danger">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>

</div>


{% endblock %}