{% load static %}

{% block content %}


<div class="row">
    <div class="col-md-12 text-center">
<!--        <h5>LAST 5 ORDERS</h5>-->
        <a class="btn btn-secondary btn-lg btn-block" href="" >Create Order</a>

        <table class="table table-sm">

            <tr>
                <th>Product</th>
                <th>Date Orderd</th>
                <th>Status</th>
                <th>Update</th>
            </tr>
            {% for order in orders %}
            <tr>
                <td>{{order.product}}</td>
                <td>{{order.timestamp}}</td>
                <td>{{order.status}}</td>
                <td><a class="btn btn-sm btn-info">Update</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>

</div>


{% endblock %}