{% load static %}
<!-- about section -->
<div class="about" id="about">
    <div class="container">
        <div class="heading">About <span>Us</span></div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <img src="{% static 'images/about.png'%}" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <h3>Information about group 2</h3>
                <p>Abbas and Mohammad work the backend of the site. Both of them are very hardworking and responsible.
                    <br><br>Ahmadreza is the scrum master of the group. He is very smart and has very good knowledge about different fields.
                    <br><br>Sakineh work in the front section. She did the initial design of the homepage.
                </p>
                <button id="about-btn">Learn More.</button>
            </div>
        </div>
    </div>
</div>
<!-- about section -->